@font-face{
    font-family: America;
    src: url(./GT-America-Compressed-Bold.ttf);
}
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
*::selection{
    color: #fff;
    background-color: #111;
}
html,body{
    height: 100%;
    width: 100%; 
}
#nav{
   width: 100%;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
   align-items: center;
  -webkit-box-pack: justify;
   justify-content: space-between;
   position: fixed;
   z-index: 99;
   padding: 15px 20px;
   color: #C45508;
}
#nav h1{
   font-size: 25px;
   font-family: America;
   color: inherit;
   text-align: center;
   width: 20%;
   cursor: pointer;
   transition: all ease 0.2s;
}

#nav h1:nth-child(1){
    text-align: left;
}
#nav h1:nth-child(2){
    text-align: left;
}
#nav h1:nth-child(3){
    text-align: right;
}
#nav h1:nth-child(4){
    text-align: right;
}
nav h1::after{
    content: "";
    position: absolute;
    left: 0;
    height: 2px;
    width: 0%;
    bottom: 0;
    background-color:#000 ;
}
@keyframes anime{
    0%{
        left: 0;
        width: 0;
    }
    50%{
        left: 0;
        width: 100%;
    }
    100%{
        left: 100%;
        width: 0;
    }
}
nav h1:hover::after{
    animation-name: anime;
    animation-duration: 1s;
}
h1:hover{
    opacity: 1;
}
#page1{
    height: 100vh;
    width: 100%;
    position: relative;
    background-image: url(https://cdn.sanity.io/images/sjvffa0f/production/b66561b8981387290c0f682665512759c66aa7bb-2880x1796.png/image.png?bg=F2F1EC&w=1440&h=898&auto=format);
    background-size: cover;
    background-position: center;
    overflow: hidden;  
}
 svg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    scale: 1.5;
    z-index: 99;
    fill: #C45508;
}
path{
    fill: inherit;
}
#page1 h1{
    position: absolute;
    font-size: 170px;
    font-weight: 1500px;
    font-family: America;
    bottom: -5%;
    padding: 5px 8px;
    text-align: center;
    text-transform: uppercase;
    color: #C45508;
    z-index: 99;
}
#page1 h1::before{
content: "bownds ranches. est. 1885";
position: absolute;
font-size: 1.1vw;
font-weight: 400px;
font-family: gilroy;
left: 2.0vw;
}
#page1 h1::after{
    content: "marketing and selling texas ranches";
    position: absolute;
    font-size: 1.1vw;
    font-weight: 400px;
    font-family: montserrat;
    right: 1.5vw;
    }
 #overlay{
height: 100%;
width: 100%;
position: absolute;
top: 0;
 }
 #scroll{
background-image: url(https://bowndsranches.com/textures/buttonDarkBg.svg);
 padding: 8px 20px;
 font-family: America;
color: #fff;
 position: absolute;
scale: 0;
transition: all ease-out 0.3s;
word-spacing: 5px;
 }
 #page2{
    height: 100%;
    width: 100%;
    position: relative;
    background-color: #ffffff;
 }
 #page2 h1{
    position: relative;
    text-align: center;
    font-size: 11vw;
    line-height: 8.7vw;
    font-family: America;
    color: black;
    word-spacing: -9px;
    letter-spacing: -2px;
    padding: 60px 60px;
    overflow: hidden;
    background-image: url(https://cdn.sanity.io/images/sjvffa0f/production/217c65c6aa3412acac7b3d2fa8adc9020e487780-2724x1936.jpg/map.jpg?rect=1,0,2723,1936&w=1024&h=728&auto=format);
     background-position: -10% 30%;
     background-color: #fff;
     background-repeat: no-repeat;
}
#page2 h1::before{
    content: "THE REPRESENTATION YOU DESERVE";
    position: absolute;
    bottom: -3%;
    font-size: 1.1vw;
    width: 27%;
text-align: left;
word-spacing: 1px;
letter-spacing: 4px;
    font-weight: 200;
}
#page2 h1::after{
    content: "ONE OF AMERICA’S BEST BROKERAGES";
    position: absolute;
    bottom: -3%;
    font-size: 1.1vw;
    width: 26%;
right: 10px;
word-spacing: 1px;
letter-spacing: 4px;
    font-weight: 200;
}
#page2 img{
    position: relative;
    height: 700px;
    left: 30vw;
   rotate: 5deg;
}
#page2 h2{
    position: relative;
    text-align: center;
    font-size: 11vw;
    line-height: 8.7vw;
    font-family: America;
    color: black;
    word-spacing: -9px;
    letter-spacing: -2px;
    padding: 30px 60px;
    overflow: hidden;
}
#page2 h2::after{
    content: "THIRD GENERATION FAMILY-OWNED RANCH BROKERAGE";
    position: absolute;
    font-size: 1.1vw;
word-spacing: 1px;
letter-spacing: 4px;
    font-weight: 250;
    bottom: -9.5%;
    left: 50%;
    transform: translate(-50%,0);
    word-spacing: 0%;
    letter-spacing: 0%;
}
#page3{
    height: 100vh;
    width: 100%;
    position: relative;
    background-color: #111;
}
#page3 h1{
    position: relative;
    text-align: center;
    font-size: 8vw;
    line-height: 7vw;
    font-family: America;
    color:#fff;
    word-spacing: 0px;
    letter-spacing: 0px;
    padding: 60px 60px;
    overflow: hidden;
    text-transform: uppercase;
}
#page3 h2{
    position: absolute;
    text-align: center;
    font-size: 6vw;
    font-family: America;
    color:#fff;
    word-spacing: -5px;
    letter-spacing: -3px;
    -webkit-text-stroke: 3px #111;
    text-transform: uppercase;
    font-weight: 100;
   top: 45%;
   left: 50%;
   transform: translate(-50%,-50%);
}
#page3 p{
    color: #fff;
    font-weight: 1vw;
    width: 50%;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vw;
}
#img-div{
    position: absolute;
    top: 0;
    left: 0;
height: 150px;
width: 150px;
background-image: url(https://cdn.sanity.io/images/sjvffa0f/production/d3370821d518e13fd16b439a1fb420c72e416641-581x383.png/brandon_bownds.png?rect=0,30,581,325&bg=F2F1EC&w=320&h=179&fit=min&auto=format);
background-position: top;
background-size: cover;
transition: all linear 0.3s;
}
#img-div h5{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 10px 10px;
    z-index: 99;
    background-color: #fff;
}
#page4{
    height: 100vh;
    width: 100%;
    position: relative;
    background-color: #111;
}
#page4 >img{
 height: 300px;
 position: absolute;
 width: 250px;
 z-index: 9;
}
#page4 >button{
    background-image: url(https://bowndsranches.com/textures/buttonBg.svg);
    position: absolute;
    font-family: America;
    text-transform: uppercase;
    background-color: red;
    font-size: 18px;
    padding: 10px 20px;
    z-index: 99;
    border: none;
}
.elem{
    border-top: 1px solid #ffffffc1;
    position: relative;
    margin-top: -30px;
    cursor: default;
}
.elem:nth-last-child(1){
    border-bottom:1px solid #ffffffc1 ;
}
.elem h1{
text-transform: uppercase;
color: #fff;
font-size: 120px;
text-align: center;
font-family: America;
-webkit-transition: opacity ease 0.1s;
-o-transition: opacity ease 0.1s;
transition: opacity ease 0.1s;
opacity: 1;
}
.elem h2{
    font-size: 120px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
-webkit-transition: opacity ease 0.1s;
-o-transition: opacity ease 0.1s;
transition: opacity ease 0.1s;
}
#moving-text{
    overflow-x: auto;
overflow-y: hidden;
white-space: nowrap;
    position: absolute;
    top: 0;
    -webkit-transition: opacity ease 0.1s;
-o-transition: opacity ease 0.1s;
transition: opacity ease 0.1s;
opacity: 0;
z-index: 10;
}
#moving-text::-webkit-scrollbar{
display: none;
}

#moving-text h2{
    display: inline-block;
    margin-left: -4px;
    position: relative;
    padding-right: 150px;
    font-family: America;
    -webkit-animation-name: move-text;
    animation-name: move-text;
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}
.elem:hover #moving-text{
    opacity: 1;
}
.elem:hover h1{
    opacity: 0;
}
@-webkit-keyframes move-text{
    0%{
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100%{
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}
@keyframes move-text{
    0%{
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100%{
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}
#page5{
    min-height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    padding: 1px;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
#page5-div1{
    height: 400px;
    width: 600px;
    position: absolute;
    background-image: url(https://cdn.sanity.io/images/sjvffa0f/production/336838d48da46ea806426b4185e7f8a87262a6a5-1521x974.png/image.png?rect=1,0,1520,974&bg=F2F1EC&w=640&h=410&auto=format);
    background-size: cover;
    background-position: center;
    rotate: 5deg;
}
#page5-div2{
    height: 400px;
    width: 600px;
    position: absolute;
    background-image: url(https://cdn.sanity.io/images/sjvffa0f/production/ac5d899c94acdca5124d1fcfb738940892e29544-1520x973.png/image.png?rect=1,0,1519,973&bg=F2F1EC&w=640&h=410&auto=format);
z-index: 99;
background-size: cover;
    background-position: center;
    rotate: -5deg;
}
#page6{
   min-height: 200vh; 
    width: 100%;
    position: relative;
    padding: 2px;
}
#page6 img{
    width: 100%;
    object-fit: cover;
    position: absolute;
    -o-object-fit: cover;
}
#page6-text{
    position: relative;
    z-index: 99;
    padding: 50px 20px;
}
#page6 h1{
    font-size: 7.5vw;
    line-height: 7vw;
    color: #fff;
    font-family: America;
}
#text-right{
    position: absolute;
    top: 65%;
    right: 10%;
    width: 20%;
}
#text-right p{
    color: #fff;
    font-weight: 600;
    font-size: 15px;
}
#page6-text button{
    padding: 12px 30px;
    font-size: 15px;
    margin-top: 20px;
    font-family: America;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    position: relative;
    overflow: hidden;
    -webkit-transition: opacity ease 0.2s;
    -o-transition: opacity ease 0.2s;
    transition: opacity ease 0.2s;
}
#page6-text button:hover{
    color: #111;
}
#page6-text button::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    left: 0;
    top: 100%;
    -webkit-transition: opacity ease 0.2s;
    -o-transition: opacity ease 0.2s;
    transition: opacity ease 0.2s;
    z-index: -1;
}
#page6-text button:hover::after{
    top: 0;
}
#text-center{
    position: absolute;
    top:230% ;
    left: 50%;
    -webkit-transform: translate(-50%,0);
    -ms-transform: translate(-50%,0);
    transform: translate(-50%,0);
    text-align: center;
    width: 60%;
}
#page6-text h2{
    font-size: 4vw;
    line-height: 3.5vw;
    text-align: center;
    font-family: America;
    color: #fff;
}
#page7{
    height: 100vh; 
     width: 100%;
    background-color: #111;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
     padding: 100px 80px 100px 10px;
 }
 #page7 h1{
    font-size: 11vw;
    color: #faf6ef;
    text-transform: uppercase;
    font-family: America;
 }
 #page7-part2{
    color:#faf6ef ;
    padding-top: 40px;
 }
 #last1 h2{
    font-size: 24px;
    font-family: America;
    font-weight: 100;
    text-transform: uppercase;
    -webkit-text-stroke: 0.4px #111;
    letter-spacing: -1px;
    margin-bottom: 13px;
 }
 #last1 {
    text-align: left;
    margin-top: 40px;
 }
 #last1 h3{
    font-size: 22px;
    font-family: America;
    font-weight: 100;
    text-transform: uppercase;
    margin-top: -3px;
    -webkit-text-stroke: 0.6px #111;
    letter-spacing: -1px;
 }
 #last2 h4{
    font-size: 22px;
    font-family: America;
    font-weight: 100;
    text-transform: uppercase;
    margin-top: -3px;
 }
